// project defaults for base elements - h1-h6, p, a, etc.

body {
    @include font-feature-settings("kern", "liga", "pnum");
    -webkit-font-smoothing: antialiased;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-gray;
    font-family: $heading-font-family;
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

p {
    margin: 0 0 $normal-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color 0.1s linear;

    &:active,
    &:focus,
    &:hover {
        color: darken($action-color, 15%);
    }

    &:active,
    &:focus {
        outline: none;
    }
}

hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

// TEMPORARY

article >  {
    h1, h2, h3, h4, h5, h6 {
         color: darken($base-font-color,20%);
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


// Mobile
@include media($mobile) {
    h2 {
        font-size: $mobile-title-size;
    }
    p {
        margin: 0 0 $normal-spacing - 1;
    }
}

