// placeholders extends, mixins, functions, and utility classes


// - - - - - - - - - - - - - - - - - - -
// - - placeholder extends


// - - - - - - - - - - - - - - - - - - -
// - - mixins

// grayscale
@mixin grayscale-element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}


// - - - - - - - - - - - - - - - - - - -
// - - functions


// - - - - - - - - - - - - - - - - - - -
// - - utilities
