// typography
$base-font-family: $open-sans;
$heading-font-family: $base-font-family;

// font sizes
$base-font-size: 1em;

// line height
$base-line-height: 2em;
$heading-line-height: 1.2;

// other sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1;
$normal-spacing: $base-spacing / 1;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// colors
$blue: #0045AC;
$teal: #106567;
$red: #F90420;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #ddd;
$chartreuse: #f0ff00;

// font colors
$base-background-color: #fff;
$base-header-font-color: $dark-gray;
$base-font-color: $medium-gray;
$action-color: $blue;

// border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// nav
$navigation-height: 90px;
$navigation-showing-height: 60px;

// mobile
$mobile-padding: 2em;
$mobile-padding-large: 6em 2em 4em;

$mobile-title-size: 1.5em;
$mobile-subtitle-size: 1em;
$mobile-byline-size: 1em;

$mobile-title-line-height: 1.2em;
$mobile-line-height: 1.8em;