<footer class="footer__nav">
    <div class="container">
        <ul>
            <li><h3>About</h3></li>
            <li><a href="javascript:void(0)">Mission</a></li>
            <li><a href="javascript:void(0)">History</a></li>
            <li><a href="javascript:void(0)">Contract Vehicles</a></li>
        </ul>
        <ul>
            <li><h3>Capabilities</h3></li>
            <li><a href="javascript:void(0)">Software Development</a></li>
            <li><a href="javascript:void(0)">Maintenance Support</a></li>
        </ul>
        <ul>
            <li><h3>Careers</h3></li>
            <li><a href="javascript:void(0)">Opportunities</a></li>
            <li><a href="{{ site.baseurl }}/contact/#locations">Locations</a></li>
        </ul>
        <ul>
            <li><h3>Contact</h3></li>
            <li><a href="mailto:info@atsid.com">info@atsid.com</a></li>
            <li><a href="javascript:void(0)">360-698-7100</a></li>
        </ul>
        <ul>
            <li><h3>Connect</h3></li>
            <li><a href="javascript:void(0)">Facebook</a></li>
            <li><a href="javascript:void(0)">LinkdIn</a></li>
            <li><a href="javascript:void(0)">Twitter</a></li>
            <li><a href="javascript:void(0)">YouTube</a></li>
            <li><a href="javascript:void(0)">Google+</a></li>
            <li><a href="javascript:void(0)">GitHub</a></li>
        </ul>
    </div>
    <div class="footer__disclaimer">
        <div class="container">
            <a href="{{ site.baseurl }}/" class="logo"> <img src="{{ site.baseurl }}/assets/images/ats-logo-sml.png" alt="ATS Logo"></a>
            <p>Applied Technical Systems, Inc.  Copyright <span>{{ site.time | date: '%Y' }}.</span> All rights reserved. <a href="#">Privacy</a> &#124; <a href="#">Sitemap</a></p>
        </div>
    </div>
</footer>