<footer class="footer__nav">
    <div class="container">
        <ul>
            <li><h3>About</h3></li>
            <li><a href="www.atsid.com/federal.contract.vehicles/">Contract Vehicles</a></li>
        </ul>
        <ul>
            <li><h3>Capabilities</h3></li>
            <li><a href="www.atsid.com/software.development/">Software Development</a></li>
            <li><a href="www.atsid.com/maintenance.support/">Maintenance Support</a></li>
            <li><a href="javascript:void(0)">Products</a></li>
        </ul>
        <ul>
            <li><h3>Careers</h3></li>
            <li><a href="javascript:void(0)">Opportunities</a></li>
            <li><a href="javascript:void(0)">Locations</a></li>
        </ul>
        <ul>
            <li><h3>Contact</h3></li>
            <li><a href="javascript:void(0)">info@atsid.com</a></li>
            <li><a href="javascript:void(0)">360-698-7100</a></li>
        </ul>
        <ul>
            <li><h3>Connect</h3></li>
            <li><a href="https://www.facebook.com/AppliedTechnicalSystems?fref=ts&ref=br_tf">Facebook</a></li>
			<li><a href="https://twitter.com/ats_inc">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/40257?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A2-1-4%2CtarId%3A1430498631283%2Ctas%3Aapplied%20technical%20systems">LinkedIn</a></li>
            <li><a href="https://plus.google.com/113904997347002799787/about">Google+</a></li>
            <li><a href="javascript:void(0)">GitHub</a></li>
        </ul>
    </div>
    <div class="footer__disclaimer">
        <div class="container">
            <a href="{{ site.baseurl }}/" class="logo"> <img src="{{ site.baseurl }}/assets/images/ats-logo-sml.png" alt="ATS Logo"></a>
            <p>Applied Technical Systems, Inc.  Copyright <span>{{ site.time | date: '%Y' }}.</span> All rights reserved.</p>
        </div>
    </div>
</footer>