<footer class="footer__nav">
    <div class="container">
        <ul>
            <li><h3>About</h3></li>
            <li><a href="{{ site.baseurl }}/about">Mission</a></li>
            <li><a href="{{ site.baseurl }}/about/#history">History</a></li>
            <li><a href="{{ site.baseurl }}/contract-vehicles">Contract Vehicles</a></li>
        </ul>
        <ul>
            <li><h3>Capabilities</h3></li>
            <li><a href="{{ site.baseurl }}/software-development">Software Development</a></li>
            <li><a href="{{ site.baseurl }}/maintenance-support">Maintenance Support</a></li>
        </ul>
        <ul>
            <li><h3>Careers</h3></li>
            <li><a href="{{ site.baseurl }}/careers/#opportunities">Opportunities</a></li>
            <li><a href="{{ site.baseurl }}/contact/#locations">Locations</a></li>
        </ul>
        <ul>
            <li><h3>Contact</h3></li>
            <li><a href="mailto:info@atsid.com">info@atsid.com</a></li>
            <li><a href="javascript:void(0)">360-698-7100</a></li>
        </ul>
        <ul class="social">
            <li><h3>Connect</h3></li>
            <li><a href="https://www.facebook.com/AppliedTechnicalSystems" class="facebook"><span>Facebook</span></a></li>
            <li><a href="https://www.linkedin.com/company/applied-technical-systems" class="linkdin"><span>LinkdIn</span></a></li>
            <li><a href="https://github.com/atsid" class="github"><span>GitHub</span></a></li>
            <li><a href="https://twitter.com/ats_inc" class="twitter"><span>Twitter</span></a></li>
            <li><a href="https://plus.google.com/113620393684961506850/posts" class="google-plus"><span>Google+</span></a></li>
        </ul>
    </div>
    <div class="footer__disclaimer">
        <div class="container">
            <a href="{{ site.baseurl }}/" class="logo"> <img src="{{ site.baseurl }}/assets/images/ats-logo-sml.png" alt="ATS Logo"></a>
            <p>Copyright <span>{{ site.time | date: '%Y' }}.</span> All rights reserved.</p>
            <p><a href="#">Privacy</a> &#124; <a href="#">Sitemap</a></p>
        </div>
    </div>
</footer>