<header class="page-nav">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="logo"> <img src="images/ats-logo-sml.png" alt="ATS Logo"></a>
        <nav>
            <ul class="nav__menu">
                {% for page in site.pages %}
                  {% if page.title %}
                  <li class="nav__link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
