// all heros start from somewhere...

.hero {  
    $hero-background: $dark-gray;
    $hero-color: white;

    background: $hero-background;
    color: $hero-color;
    position: relative;

    .hero__content {
        color: $hero-color;
        text-align: center;
        padding: 25em 0;
        margin: auto;
        text-align: center;
        position: relative;

        // tablet view
        @include media($tablet) {
            padding: 15em 0;
        }

        // mobile view
        @include media($mobile) {
             padding: 10em 0;
        }
    }

    .hero__content--short {
        padding: 15em 0 12em;

        .hero__title {
            color: white;
            font-size: 2em;
        }
    }
    
    .hero__title {
        color: white;
        font-size: 3.5em;
        margin-bottom: 0.5em;

        // tablet view
        @include media($tablet) {
            font-size: 2.2em;
        }

        // mobile view
        @include media($mobile) {
             font-size: 1.5em;
        }
    }

    .hero__byline {
        font-weight: 300;
        font-size: 2em;
        max-width: 25em;
        margin: auto;
        line-height: 1.4;

        // tablet view
        @include media($tablet) {
            font-size: 1.5em;
        }

        // mobile view
        @include media($mobile) {
             font-size: 1.2em;
             font-weight: 400;
             padding: 0 1em;
        }
    }

     .hero__summary {
        font-weight: 300;
        font-size: 1.4em;
        max-width: 38em;
        margin: auto;
        line-height: 1.7;
    }


    // effects
    &.hero--tint:before {
      content: '';
      display: block;
      position: absolute;
      background-color: rgba(0,0,0, 0.6);
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      // z-index: 1;
    }

    // homepage
    &.hero--home {
        $hero-image: '../assets/images/bg-individual-office.png';
        
        @include background(url($hero-image) no-repeat center center fixed); 

        background-color:  $hero-background;
        background-position: top;
        background-size: cover;
    }

     // about 
    &.hero--about {
        $hero-image: '../assets/images/bg-street-view.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--home;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // capabilities
    &.hero--capabilities {
        $hero-image: '../assets/images/bg-naval-crew.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--tint;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
   }

    // MSG
    &.hero--msg {
        $hero-image: '../assets/images/bg-carrier.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--tint;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 36rem;

        h2 {
            font-weight: 300;
        }
   }

   // Software
    &.hero--software {
        $hero-image: '../assets/images/bg-software-dev.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--tint;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 36rem;

        h2 {
            font-weight: 300;
        }
   }

    // careers
    &.hero--careers {
        background: teal;
    }

    // contract vehicles
    &.hero--contract-vehicles {
        $hero-image: '../assets/images/bg-american-flag.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--tint;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        
    }

    // contact
    &.hero--contact {
         $hero-image: '../assets/images/bg-people-office.png';
        
        @include background(url($hero-image) no-repeat fixed); 
        // @extend .hero--tint;

        background-color:  $hero-background;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

