.hero {  
    $action-color: #477DCA !default;
    $hero-background: #001234;
    $hero-color: white;
    $hero-image: '../images/bg-team-office.png';

    @include background(url($hero-image), no-repeat scroll);

    background-color:  $hero-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20em 0;

    .hero__content {
        color: $hero-color;
        text-align: center;
        margin: auto;
        text-align: center;

        h1 {
            font-size: 1.5em;
            margin-bottom: 0.5em;

            @include media($large-screen) {
                font-size: 2.8em;
            }
        }

        p {
            font-weight: 300;
            font-size: 2em;
            line-height: 1.4em;
            margin: 0 auto 3em auto; 
        }
    }
}