.page_nav {
    $dark-gray: #333 !default;
    $navigation-padding: 1em;
    $navigation-background: transparent;
    $navigation-background-showing: rgba(23, 23, 23, 0.9);
    $navigation-color: white;
    $navigation-color-hover: transparentize(white, 0.3);
    $navigation-height: 60px;
    $navigation-showing-height: 60px;
    $navigation-active-link-color: transparentize(white, 0.5);

    @include transition(all 0.3s ease-in-out);

    background-color: $navigation-background;
    min-height: $navigation-height;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    > .container {
        @include outer-container;
        padding: 0 2em;
    }

    .logo {
        @include transition(all 0.3s ease-in-out);

        float: left;
        line-height: $navigation-height;
        padding: 0;
        position: absolute;

        img {
            @include transition(all 0.3s ease-in-out);

            vertical-align: middle;
        }
    }

    // Nav menu

    nav {
        float: right;
        min-height: $navigation-height;
        z-index: 9999999;
    }

    .nav__menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        clear: both;
        display: inline;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 9999;
    }


    // Nav items

    .nav__link {
        @include transition(all 0.3s ease-in-out);

        display: inline;
        line-height: $navigation-height;
        overflow: hidden;
        margin-left: 2.5em;
        text-align: right;
        text-decoration: none;
        width: auto;
        z-index: 9999;

        &:last-of-type {
            padding-right: 0;
        }

        // mobile view
        @include media($mobile) {
            margin-left: 1em;
        }
    }

    .nav__link--active {
        border-bottom: 2px solid $navigation-active-link-color;
        padding-bottom: 0.2em;
        a {
            color: $navigation-active-link-color;
        }
    }

    a {
        color: $navigation-color;
        display: inline-block;
        font-weight: 700;
        font-size: 0.85em;
        text-decoration: none;
        text-transform: uppercase;

        &:focus, &:hover {
            color: $navigation-color-hover;
        }

        // mobile view
        @include media($mobile) {
            font-size: 0.75em;
        }
    }

    // styles for showing the nav on scroll
    &.page_nav--showing {
        background: $navigation-background-showing;
        min-height: $navigation-showing-height;

        .logo {
            @include transition(all 0.3s ease-in-out);
             line-height: $navigation-showing-height;
             // max-width: 5.5em;
        }

        nav {
            min-height: $navigation-showing-height;
        }

        .nav__link {
            line-height: $navigation-showing-height;
        }
        .nav__link--active {
            padding-bottom: 0;
        }
    }

    .nav__toggle-menu {
        display: none;
        margin-top: 14px;
        background: none;
        border: none;
        float: right;

        &:hover {
            background: rgba(255,255,255,.1);
        }
    }

    @include media($tablet) {
        nav {
            float: none;
        }

        .nav__toggle-menu {
            display: inline-block;
            z-index: 99999;
            position: relative;
            height: 35px;
            width: 35px;

            > .nav__toggle-menu__ic-open, 
            > .nav__toggle-menu__ic-close {
                @include transition(opacity 0.3s ease-in-out);
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -7px;
                margin-left: -6px;
            }

            > .nav__toggle-menu__ic-close {
                opacity: 0;
            }
        }

        .nav--active .nav__menu {
            left: 0;
            opacity: 1;
        }

        .nav--active {
            .nav__toggle-menu__ic-open {
                opacity: 0;
            }
            .nav__toggle-menu__ic-close {
                opacity: 1;
            }
        }

        .nav__menu {
            padding-top: $navigation-showing-height;
            opacity: 0;
            background: rgba(0,0,0,.9);
            position: fixed;
            top: 0;
            left: 100%;
            right: 0;
            bottom: 0;
            overflow: hidden;
            @include transition(all 0.3s ease-in-out);

            > li {
                display: block;
                text-align: center;

                &.nav__link--active {
                    border: none;
                    padding: 0;
                }
            }
        }
    }
}



