.text-block {
    
    .text-block__title {
        color: darken($base-font-color,20%);
        line-height: 1em;
        margin-bottom: 0.5em;

        @include media($mobile) {
            font-size: $mobile-title-size;
            line-height: $mobile-title-line-height;
        }

    }

    .text-block__sub-title {
        color: $red;
        font-weight: 600;
        font-size: 0.85em;
        text-transform: uppercase;
    }

    // history
     &.text-block--history {
       @include pad(2em);
     }
    
    // divisions
     &.text-block--divisions {

        padding: 0;

       .text-block__sub-title {
            color: #FFD329;
       }

       p {
            font-size: 1.4em;
            max-width: 22em;
                
            @include media($mobile) {
                font-size: $mobile-title-size - 0.5;
            }
       }
     }

     &.text-block--join {
        @include outer-container;
     }
}