// Introduction
.intro {
    @include outer-container;
    @include fill-parent();

    padding: 10em 0;

    .intro__content {
        @include span-columns(8);
        @include clearfix;

    }

    .intro__stats {
        @include span-columns(4);
        @include pad(1em);

        background: $light-gray;
    }
}

// Divisions
.divisions {
    @include fill-parent();
    @include clearfix;

    background-color: black;

    .software, .systems {
        @include span-columns(6);
        @include pad(10em 5em);

        background: $dark-gray;
        color: white;
    }

    h2 {
        font-size: 2em;
    }
    
    button {
        color: white;
        border-color: white;

        &:hover {
            background-color: white;
            color: $dark-gray;
        }
    }
}

// Join
.join {
    @include outer-container;
    @include fill-parent();

    padding: 10em 0;

    .join__content {
        @include span-columns(8);
        @include clearfix;
    }
}

// Conversation
.convo {
    @include fill-parent();

    background-color: $teal;
    color: white;
    padding: 5em 0;
    text-align: center;

    h2 {
        font-size: 2em;
    }

    button {
        color: white;
        border-color: white;

        &:hover {
            background-color: white;
            color: $dark-gray;
        }
    }

    .convo__content {
        @include outer-container;
        @include fill-parent;
        @include clearfix;

        max-width: 55em;
    }
}
