---
layout: default
---

  <!-- Hero
  ================================================== -->
<article class="hero hero--home">
    <div class="hero__content">
        <h2 class="hero__title">Question, listen and learn.</h2>
        <p class="hero__summary">Continuously working to help customers reach their goals.</p>
    </div>
</article>

  <!-- Intro
  ================================================== -->
<section class="intro">
    <article class="text-block text-block--intro intro__content">
        <p><strong>We are passionate about solutions.</strong> For over 30 years, ATS has worked to simplify and rationalize complex data problems.  While the tools we use and the technology we create have changed over time, our commitment to helping our customers has remained steadfast.  We deliver simple, yet intelligent solutions, knowing “simple” isn’t always easy.
        </p>
        <a href="{{ site.baseurl }}/about">Learn more about who we are and what we do at ATS.</a>
    </article>
</section>

  <!-- Divisions
  ================================================== -->
<section class="divisions">
    <article class="software text-block text-block--divisions">
        <h3 class="text-block__sub-title">Software Development</h3>
        <p>Products and services that provide insight through better understanding of your data</p>
        <a href="{{ site.baseurl }}/software-development" class="button button--outline">Learn More</a>
    </article>
    <article class="systems text-block text-block--divisions">
        <h4 class="text-block__sub-title">Maintenance Support</h4>
        <p>Logistics and maintenance support analysis for the most advanced platforms in the world</p>
        <a href="{{ site.baseurl }}/maintenance-support" class="button button--outline">Learn More</a>
    </article>
</section>

  <!-- Join Us
  ================================================== -->
<section class="join">
     <article class="text-block text-block--join join__content">
        <!-- <h3 class="text-block__sub-title">Join the Team</h3> -->
        <h2 class="text-block__title">Looking to make a difference?</h2>
        <p>Our employees are experts who challenge each other to grow as part of a team allowing our combined skills to directly influence our clients’ success.</p>
        <a href="{{ site.baseurl }}/careers" class="button button--outline">View Open Positions</a>
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/images/couch-people.png" alt="Beware of the couch people">
    </article>
</section>

  <!-- Contact Us
  ================================================== -->
<section class="convo">
    <div class="convo__content">
        <h2>Great work begins with a great conversation.</h2>
        <p>Whether you would like to know more about what we do, need help with your project or would like to partner with us &mdash; we would love to hear from you!</p>
        <a href="{{ site.baseurl }}/contact" class="button button--outline">Contact Us</a>
    </div>
</section>
