---
layout: default
---

  <!-- Hero 
  ================================================== -->
<article class="hero hero--home">
    <div class="hero__content">
        <h2 class="hero__title">Our catchy tagline goes here</h2>
        <p class="hero__summary">Continuously improving to help customers reach their goals.</p>    
    </div>
</article>

  <!-- Intro
  ================================================== -->
<section class="intro">
    <article class="text-block text-block--intro intro__content">
        <h3 class="text-block__sub-title">Who We Are</h3>
        <h2 class="text-block__title">Pasionate about solutions</h2>
        <p>For over 30 years ATS has worked to simplify and rationalize complex data problems. While the tools that we use and the technology that we create has changed over time, our commitment to helping our customers has remained steadfast. We deliver simple, yet intelligent solutions knowing “simple” isn’t always easy. We’re not intimidated by challenges.
        </p>
        <button class="button--outline">Learn more about us</button>
    </article>
    <article class="intro__stats">
        <ul>
            <h2><li>142 Employees</li></h2>
            <h2><li>28 Ships</li></h2>
            <h2><li>80,000 users using our software daily</li></h2>
        </ul>
    </article>
</section>

  <!-- Divisions
  ================================================== -->
<section class="divisions">
    <article class="software text-block text-block--divisions">
        <h3 class="text-block__sub-title">Software Development</h3>
        <p>Products and services that provide insight through better understanding of your data.</p>
        <button class="button--outline">Learn More</button>
    </article>
    <article class="systems text-block text-block--divisions">
        <h4 class="text-block__sub-title">Maintenance Support</h4>
        <p>Logistics and maintenance support analysis for the most advanced platforms in the world.</p>
        <button class="button--outline">Learn More</button>
    </article>
</section>

  <!-- Join Us
  ================================================== -->
<section class="join">
     <article class="text-block text-block--join join__content">
        <h3 class="text-block__sub-title">Join the Team</h3>
        <h2 class="text-block__title">Looking to make a difference?</h2>
        <p>Our employees are experts who challenge each other to grow as part of a team allowing our combined skills to directly influence our clients’ success.</p>
        <button class="button--outline">View Open Positions</button>
    </article>
    <article>
        <img src="{{ site.baseurl }}/assets/images/couch-people.png" alt="Beware of the couch people">
    </article>
</section>

  <!-- Contact Us
  ================================================== -->
<section class="convo">
    <div class="convo__content">
        <h2>Great work begins with a great conversation</h2>
        <p>Whether you would like to know more about what we do, need help with your project or would like to partner with us - we would love to hear from you.</p>
        <button class="button--outline">Contact Us</button>
    </div>
</section>